body {
    margin: 0;
    padding: 0;
    background: #f4f4f2;
    height: 300vh;
}

.form-field {
    border: 2px solid #ffc40c;
    color: #2a2a2a;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    align-self: start;
}

.form-input {
    box-sizing: border-box;
    border: 2px solid #ffc40c;
    color: #2a2a2a;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    background: #f4f4f2;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
}

.required::after {
    content: "*";
}

.form-input:hover, .form-input:focus, .form-submit:hover, .form-submit:focus {
    border-width: 3px;
}

.form {
    width: 500px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ffc40c;
}

.form-submit {
    width: 100%;
}

.button {
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    color: #2a2a2a;
    background: #f4f4f2;
    border: 2px solid #ffc40c;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 120vh;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.button-wrapper button {
    flex-basis: calc(50% - 5px);
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: #ffc40c;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #2a2a2a;
    z-index: 2;
}

.navigation div:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.password-field {
    position: relative;
}

.password-field:after {
    content: "sakrij";
    padding: 5px;
    font-size: 11px;
    position: absolute;
    right: 10px;
    bottom: 13px;
    background-color: #ffc40c;
    border-radius: 5px;
    cursor: pointer;
}

.header-wrapper {
    padding: 0 30px;
    margin-bottom: 30px;
    background: #ffe495;
    z-index: 1;
    position: sticky;
    top: 60px;
}
